*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Element Set-Up */
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
.container{
    /* width: 1440px; */
    max-width: 100%;
    margin: 0 auto;
}
.content{
    width: 1240px;
    max-width: 90%;
    display: flex;
    margin: 60px auto;
    background-color: #fff;
}

h1,h2{
font-size :60px; ;
font-weight: 700;
line-height: 130%;
letter-spacing: -0.02em;
}
h2{
    font-size: 40px;
    padding: 40px 0;
    text-align: center;
}

Span{
    color: #FB48C0;
}
img{
    max-width: 100%;
}
a{color: #fff;}


/* ReuseAble Component */
.btn{
    margin-top: 10px;
    padding: 10px 15px;
    width:150px;
    border-radius: 20px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    background-image: linear-gradient(to left,#F640BB ,#F088D1);   
}

/* Main Navigation */
#header{
    width: 100%;
    margin: -60px auto;
    background-color: #EA2AAF;
    position: fixed;
}
header span{color:#fff}
.logo,.main-nav{width: 50%;}
nav>ul>li{
    display: inline-block;
    margin: 0 0 0 10px;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    background-color:#ffffff;
    vertical-align:center;
}
ul{float: right;}
ul li a{color: #EA2AAF;;}

.main-nav{
    margin:auto 0;
}
/* Banner Area Code Start */
.banner-left{
    width: 50%;
    margin: auto 0;
    padding: 100px 0;
}
.banner-right{
    background-image: url(img/Group-8448.png);
    width: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:100% 100%;
    
}
.shape{
    width: 70%;
    float: right;
    margin: 130px 0 0 30px;
    padding: 0px 0;
}

/* About Section Code Start */
#about{
    background-image: url(img/frame-59.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.about{
    background-color: #FFEDF9;
}
.about-left{
width: 50%;
}
.about-img{
    width: 80%;
    margin: 0 auto;
}

.about-right{
    width: 50%;
    padding: 40px 0;
    margin: auto 0;
}

.about-right>h2{text-align: center;}
.about-right>p,.about-right>.btn{margin:0 40px 40px 40px}


/* Recipies Section Code Start */
.item{
    width: 33%;
    border-radius: 5px;   
    padding: 40px 10px;
    box-shadow: 5px 5px 40px 5px;
    margin: 0 2% 0 0;
}

/* footer code start */
footer{
    background-color: #EA2AAF;
}
footer span{color: #fff;}
footer p{text-align: center;}

