*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Element Set-Up */
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
.container{
    max-width: 100%;
    margin: 0 auto;
}
.content{
    width: 1240px;
    max-width: 90%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

h1,h2{
font-size :60px; ;
font-weight: 700;
line-height: 130%;
letter-spacing: -0.02em;
}
h2{
    font-size: 40px;
    padding: 30px 0;
    text-align: center;
}
p{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 1px;
    padding: 10px 0;
}

Span{
    color: #E522AB;
}
img{
    max-width: 100%;
}
a{color: #fff;}


/* ReuseAble Component */
.btn{
    margin-top: 10px;
    padding: 10px 15px;
    width:150px;
    border-radius: 20px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    background-image: linear-gradient(to left,#F640BB ,#F088D1);   
}

/* Main Navigation */
#header{
    width: 100%;
    background-color: #F53EBA;
    position: fixed;
    top: 0;
}
.logo span{
    color:rgb(0, 0, 0)
}
.logo h2{
    text-align: left;
    font-size: 50px;
    padding:0;
}
.logo,.main-nav{width: 50%;}
nav>ul>li{
    display: inline-block;
    vertical-align:center;
}
ul{float: right;}
ul li a{color: #945d82;
    background-color:#ffffff;
    padding: 10px 15px;
    margin: 0 0 0 10px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    }
ul li a:hover{background-color:#E523AB;color: #fff;}

.main-nav{
    margin:auto 0;
}

/* Banner Area Code Start */
#banner{
    padding:100px 0;
}
.banner-left{
    width: 50%;
    margin: auto 0;
    padding: 100px 0;
}
.banner-right{
    background-image: url(img/Group-8448.png);
    width: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:100% 100%;
    
}
.shape{
    width: 70%;
    float: right;
    margin: 130px 0 0 30px;
    padding: 0px 0;
}

/* About Section Code Start */
#about{
    padding:65px 0 0 0;
    background-image: url(img/frame-59.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.about{
    background-color: #FFEDF9;
}
.about-left{
width: 50%;
}
.about-img{
    width: 80%;
    margin: 0 auto;
}

.about-right{
    width: 50%;
    padding: 40px 0;
    margin: auto 0;
}

.about-right>h2{text-align: center;}
.about-right>p,.about-right>.btn{margin:0 40px 40px 40px}


/* Recipies Section Code Start */
#recipies{padding: 65px 0 0 0;}
#recipies p{width:500px;
    text-align: center;
    margin: 0 auto;
}
.item{
    width: 29%;
    border-radius: 10px;  
    padding: 20px;
    box-shadow: -1px -1px 15px -10px;
    margin: 0 2%;
}
.item p{
    width:300px !important;
    text-align: left !important;
    margin: 0;
}
.item h3{font-size: 30px;
padding: 10px 0;
}

/* Resume Section */
#resume{padding: 30px 0 0 0;margin: 40px 0;}
.my-resume{box-shadow:-1px -1px 15px -10px;}
.my-resume div{
    width: 33%;
}
.my-resume p{text-align:center}
/* footer code start */
footer{
    background-color: #7c4a6d;
    padding: 20px;

}
footer span{color: rgb(255, 2, 2);}
footer h2{color: #fff;}
footer p{text-align: center;color: #fff;}

/* Responsive Css */
@media (max-width:760px) {
    .banner-left,.banner-right {
    width: 100%;
}
#header {
   display: none;
}
.about-left,.about-right {
    width: 100%;
}
.recipies{
    width: 100%;
}
.item {
    width: 100%;
    margin: 0;
    padding: 0;
}
#recipies p {
    width: 100%;
}
}